* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    font-size: 18px;
    font-family: 'Balsamiq Sans', cursive;
    color: #FFF;
}

header {
    text-align: center;
    margin: 25px;
}

main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    min-height: 100vh;
}

main a {
    display: block;
    color: #FFF;
}

main h2, p, a {
    text-align: center;
    padding: 5px;
}

main h2 {
    margin: 15px;
}

.grid {
    margin-top: 20px;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(3, 150px);
    align-content: center;
    justify-content: center;
}

.grid img {
    transition: transform 1s;
}

.grid img:hover {
    transform: scale(1.5);
}